{% extends './base/base.html' %}
{% block bodys %}

                        <div class="nk-content">
                            <div class="container-fluid">
                            <div class="nk-content-inner">
                                <div class="nk-content-body">
                                    <div class="nk-block-head nk-block-head-sm">
                                        <div class="nk-block-between">
                                            <div class="nk-block-head-content">
                                                <h3 class="nk-block-title page-title">
                                                     {{user}}
                                                </h3>
                                                <div class="nk-block-des text-soft">
                                                    <p> خوش اومدی </p>
                                                </div>
                                            </div>
                                            <!-- .nk-block-head-content -->
                                            <div class="nk-block-head-content">
                                                <div class="toggle-wrap nk-block-tools-toggle">
                                                    <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                                                    <div class="toggle-expand-content" data-content="pageMenu">
                                                        <ul class="nk-block-tools g-3">
                                                            <li>
                                                                <div class="dropdown">

                                                                </div>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- .nk-block-head-content -->
                                        </div>
                                        <!-- .nk-block-between -->
                                    </div>
                                    <!-- .nk-block-head -->
                                    <div class="nk-block">
                                        <div class="row g-gs">

                                            <div class="col-xxl-12">
                                                <div class="card card-bordered card-full">
                                                    <div class="card card-bordered card-full">
                                                    <div class="card-inner">
                                                        <div class="card-title-group">
                                                            <div class="card-title">
                                                                <h6 class="title">
                                                                    <span class="me-2">اطلاعات</span>
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="card-inner p-0 border-top">
                                                        <div class="nk-tb-list nk-tb-orders">
                                                            <div class="nk-tb-item nk-tb-head">
                                                                <div class="nk-tb-col tb-col-sm">
                                                                    <span>شماره کاربر</span>
                                                                </div>
                                                                <div class="nk-tb-col tb-col-md">
                                                                    <span>نوع دارایی</span>
                                                                </div>
                                                                <div class="nk-tb-col tb-col-lg">
                                                                    <span>مقدار دارایی</span>
                                                                </div>
                                                                <div class="nk-tb-col tb-col-lg">
                                                                    <span>مقدار اصلی دارایی</span>
                                                                </div>
                                                                <div class="nk-tb-col tb-col-lg">
                                                                    <span>سود دارایی</span>
                                                                </div>
                                                                <div class="nk-tb-col tb-col-lg">
                                                                    <span>سود اصلی دارایی</span>
                                                                </div>
                                                                <div class="nk-tb-col tb-col-lg">
                                                                    <span>دارایی در دسترس</span>
                                                                </div>
                                                                <div class="nk-tb-col tb-col-lg">
                                                                    <span>دارایی در سفارش</span>
                                                                </div>
                                                            </div>


                                                            <div class="nk-tb-item">
                                                                <div class="nk-tb-col">
                                                                    <span class="tb-lead"><a class="" href="#">{{Asset_list['userId']}}</a></span>
                                                                </div>
                                                                <div class="nk-tb-col">
                                                                    <span class="tb-lead"><a class="badge badge-sm badge bg-outline-info d-none d-md-inline-flex" href="#">{{Asset_list['asset']}}</a></span>
                                                                </div>
                                                                <div class="nk-tb-col tb-col-md">
                                                                    <span class="tb-sub">{{Asset_list['balance']}}</span>
                                                                </div>
                                                                <div class="nk-tb-col tb-col-md">
                                                                    <span class="tb-sub">{{Asset_list['equity']}}</span>
                                                                </div>
                                                                <div class="nk-tb-col tb-col-md">
                                                                    {%if Asset_list['unrealizedProfit'] > 0%}
                                                                            <span class="tb-sub"><span class="badge rounded-pill bg-success">{{Asset_list['unrealizedProfit']}}</span></span>
                                                                    {%elif Asset_list['unrealizedProfit'] < 0%}
                                                                            <span class="tb-sub"><span class="badge rounded-pill bg-danger">{{Asset_list['unrealizedProfit']}}</span></span>
                                                                    {%else%}
                                                                            <span class="tb-sub"><span class="badge rounded-pill bg-info">{{Asset_list['unrealizedProfit']}}</span></span>
                                                                    {%endif%}

                                                                </div>
                                                                <div class="nk-tb-col tb-col-md">
                                                                    {%if Asset_list['realisedProfit'] > 0%}
                                                                            <span class="tb-sub"><span class="badge rounded-pill bg-success">{{Asset_list['realisedProfit']}}</span></span>
                                                                    {%elif Asset_list['realisedProfit'] < 0%}
                                                                            <span class="tb-sub"><span class="badge rounded-pill bg-danger">{{Asset_list['realisedProfit']}}</span></span>
                                                                    {%else%}
                                                                            <span class="tb-sub"><span class="badge rounded-pill bg-info">{{Asset_list['realisedProfit']}}</span></span>
                                                                    {%endif%}

                                                                </div>
                                                                <div class="nk-tb-col tb-col-md">
                                                                    <span class="tb-sub"><span class="badge badge-sm badge bg-outline-dark d-none d-md-inline-flex">{{Asset_list['availableMargin']}}</span></span>
                                                                </div>
                                                                <div class="nk-tb-col tb-col-md">
                                                                    <span class="tb-sub"><span class="badge badge-sm badge-dim bg-outline-dark d-none d-md-inline-flex">{{Asset_list['freezedMargin']}}</span></span>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                </div>




                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

</div>
{% endblock %}

{% block menu %}
                        <div class="nk-sidebar-content">
                            <div class="nk-sidebar-menu" data-simplebar>
                                <ul class="nk-menu">

                                    <!-- .nk-menu-item -->
                                    <li class="nk-menu-heading">
                                        <h6 class="overline-title text-primary-alt">
                                            منو
                                        </h6>
                                    </li>
                                    <!-- .nk-menu-heading -->
                                    <li class="nk-menu-item has-sub">
                                        <a href="/Home/Trade" class="nk-menu-link nk-menu-toggle">
                                            <span class="nk-menu-icon"><em class="icon ni ni-view-list-wd"></em></span>
                                            <span class="nk-menu-text">معاملات</span>
                                        </a>
                                        <ul class="nk-menu-sub">
                                            <li class="nk-menu-item">
                                                <a href="/Home/Trade?rr=1" class="nk-menu-link"><span class="nk-menu-text">معاملات آر به آر ۱</span></a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a href="/Home/Trade?rr=2" class="nk-menu-link"><span class="nk-menu-text">معاملات آر به آر ۲</span></a>
                                            </li>
                                        </ul>
                                        <!-- .nk-menu-sub -->
                                    </li>
                                    <li class="nk-menu-item has-sub">
                                        <a href="/Home/Trade" class="nk-menu-link nk-menu-toggle">
                                            <span class="nk-menu-icon"><em class="icon ni ni-sign-bch-alt"></em></span>
                                            <span class="nk-menu-text">کیف پول</span>
                                        </a>
                                        <ul class="nk-menu-sub">
                                            <li class="nk-menu-item">
                                                <a href="/Home/Asset?rr=1" class="nk-menu-link"><span class="nk-menu-text">کیف پول آر به آر ۱</span></a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a href="/Home/Asset?rr=1" class="nk-menu-link"><span class="nk-menu-text">کیف پول آر به آر ۲</span></a>
                                            </li>
                                        </ul>
                                        <!-- .nk-menu-sub -->
                                    </li>
                                    <li class="nk-menu-heading">
                                        <h6 class="overline-title text-primary-alt">
                                            مدیریت اطلاعات
                                        </h6>
                                    </li>
                                    <!-- .nk-menu-heading -->
                                    <li class="nk-menu-item has-sub">
                                        <a href="/" class="nk-menu-link nk-menu-toggle">
                                            <span class="nk-menu-icon"><em class="icon ni ni-users-fill"></em></span>
                                            <span class="nk-menu-text">بخش کاربری</span>
                                        </a>
                                        <ul class="nk-menu-sub">
                                            <li class="nk-menu-item">
                                                <a href="/" class="nk-menu-link"><span class="nk-menu-text">تنظیمات</span></a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a href="/" class="nk-menu-link"><span class="nk-menu-text">پروفایل</span></a>
                                            </li>
                                        </ul>
                                        <!-- .nk-menu-sub -->
                                    </li>

                                    <!-- .nk-menu-item -->

                                    <!-- .nk-menu-item -->

                                    <!-- .nk-menu-item -->

                                </ul>
                                <!-- .nk-menu -->
                            </div>
                            <!-- .nk-sidebar-menu -->
                        </div>

{% endblock %}
{% block notification %}

{% endblock %}