<!DOCTYPE html>
<html lang="fa" class="js">
    <head>
        <base href="../" />
        <meta charset="utf-8" />
        <meta name="author" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <!-- Fav Icon  -->
        <link rel="shortcut icon" href="static/base/images/favicon.png" />
        <!-- Page Title  -->
        <title>Main Dashbord</title>
        <!-- StyleSheets  -->
        <link rel="stylesheet" href="static/base/assets/css/dashlite.rtl.css" />
        <link id="skin-default" rel="stylesheet" href="static/base/assets/css/theme.css" />
    </head>

    <body class="has-rtl nk-body bg-lighter npc-general has-sidebar" dir="rtl">
        <div class="nk-app-root">
            <!-- main @s -->
            <div class="nk-main">
                <!-- sidebar @s -->
                <div class="nk-sidebar nk-sidebar-fixed is-dark" data-content="sidebarMenu">
                    <div class="nk-sidebar-element nk-sidebar-head">
                        <div class="nk-menu-trigger">
                            <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em class="icon ni ni-arrow-left"></em></a>
                            <a href="#" class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
                        </div>
                        <div class="nk-sidebar-brand">
                            <a href="html/index.html" class="logo-link nk-sidebar-logo">

                                        <a href="/Home">ایران بورس</a>

                            </a>
                        </div>
                    </div>
                    <!-- .nk-sidebar-element -->
                    <div class="nk-sidebar-element nk-sidebar-body">
                        {% block menu %}
                         {% endblock %}
                        <!-- .nk-sidebar-content -->
                    </div>
                    <!-- .nk-sidebar-element -->
                </div>
                <!-- sidebar @e -->
                <!-- wrap @s -->
                <div class="nk-wrap">
                    <!-- main header @s -->
                    <div class="nk-header nk-header-fixed is-light">
                        <div class="container-fluid">
                            <div class="nk-header-wrap">
                                <div class="nk-menu-trigger d-xl-none ms-n1">
                                    <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
                                </div>
                                <div class="nk-header-brand d-xl-none">
                                    <a href="html/index.html" class="logo-link">
                                        <a href="/Home">ایران بورس</a>
                                    </a>
                                </div>
                                <!-- .nk-header-brand -->

                                <!-- .nk-header-news -->
                                <div class="nk-header-tools">
                                    <ul class="nk-quick-nav">

                                        <!-- .dropdown -->
                                        <li class="dropdown user-dropdown">
                                            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                                                <div class="user-toggle">
                                                    <div class="user-avatar sm">
                                                        <em class="icon ni ni-user-alt"></em>
                                                    </div>
                                                    <div class="user-info d-none d-md-block">
                                                        <div class="user-status">{{pathmain}}</div>
                                                        <div class="user-name dropdown-indicator">
                                                            {{user}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-md dropdown-menu-end dropdown-menu-s1">
                                                <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                                    <div class="user-card">
                                                        <div class="user-avatar">
                                                            <span>{{pathmain}}</span>
                                                        </div>
                                                        <div class="user-info">
                                                            <span class="lead-text">{{user}}</span>
                                                            <span class="sub-text">{{email}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="dropdown-inner">
                                                    <ul class="link-list">

                                                        <li>
                                                            <a class="dark-switch" href="#"><em class="icon ni ni-moon"></em><span>حالت تاریک</span></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="dropdown-inner">
                                                    <ul class="link-list">
                                                        <li>
                                                            <a href="/logout"><em class="icon ni ni-signout"></em><span>خروج</span></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- .dropdown -->
                                        {% block notification %}
                                        {% endblock %}
                                        <!-- .dropdown -->
                                    </ul>
                                    <!-- .nk-quick-nav -->
                                </div>
                                <!-- .nk-header-tools -->
                            </div>
                            <!-- .nk-header-wrap -->
                        </div>
                        <!-- .container-fliud -->
                    </div>
                    <!-- main header @e -->
                    <!-- content @s -->

                    {% block bodys %}
                    {% endblock %}

                    <!-- content @e -->
                    <!-- footer @s -->
                    <div class="nk-footer">
                        <div class="container-fluid">
                            <div class="nk-footer-wrap">
                                <div class="nk-footer-copyright">
                                    <a href="/">خانه</a>
                                </div>
                                <div class="nk-footer-links">

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- footer @e -->
                </div>
                <!-- wrap @e -->
            </div>
            <!-- main @e -->
        </div>


        <script src="static/base/assets/js/bundle.js"></script>
        <script src="static/base/assets/js/scripts.js"></script>
        <script src="static/base/assets/js/charts/gd-default.js"></script>
        {% block script %}
        {% endblock %}
</body>
<div class="js-preloader">
    <div class="loading-animation duo-pulse"></div>
</div>
</html>