<!DOCTYPE html>
<html lang="fa" class="js">
    <head>
        <base href="../../../" />

        <meta charset="utf-8" />
        <meta name="author" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <!-- Fav Icon  -->
        <link rel="shortcut icon" href="static/base/images/favicon.png" />
        <!-- Page Title  -->
        <title>Main Dashbord</title>
        <!-- StyleSheets  -->
        <link rel="stylesheet" href="static/base/assets/css/dashlite.rtl.css" />
        <link id="skin-default" rel="stylesheet" href="static/base/assets/css/theme.css" />
    </head>

    <body class="has-rtl nk-body bg-white npc-general pg-error" dir="rtl">
        <div class="nk-app-root">
            <!-- main @s -->
            <div class="nk-main">
                <!-- wrap @s -->
                <div class="nk-wrap nk-wrap-nosidebar">
                    <!-- content @s -->
                    <div class="nk-content">
                        <div class="nk-block nk-block-middle wide-xs mx-auto">
                            <div class="nk-block-content nk-error-ld text-center">
                                <h1 class="nk-error-head">504</h1>
                                <h3 class="nk-error-title">خطای زمان پایان دروازه</h3>
                                <p class="nk-error-text">ما برای ناراحتی شما بسیار متاسفیم. به نظر می رسد سرور ما به موقع پاسخی دریافت نکرده است.</p>
                                <a href="html/index.html" class="btn btn-lg btn-primary mt-2">بازگشت به صفحه اصلی</a>
                            </div>
                        </div>
                        <!-- .nk-block -->
                    </div>
                    <!-- wrap @e -->
                </div>
                <!-- content @e -->
            </div>
            <!-- main @e -->
        </div>
        <!-- app-root @e -->
        <!-- JavaScript -->
        <script src="./assets/js/bundle.js"></script>
        <script src="./assets/js/scripts.js"></script>
        <!-- select region modal -->
        <div class="modal fade" tabindex="-1" role="dialog" id="region">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <a href="#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
                    <div class="modal-body modal-body-md">
                        <h5 class="title mb-4">کشور خود را انتخاب کنید</h5>
                        <div class="nk-country-region">
                            <ul class="country-list text-center gy-2">
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/arg.png" alt="" class="country-flag" />
                                        <span class="country-name">آرژانتین</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/aus.png" alt="" class="country-flag" />
                                        <span class="country-name">استرالیا</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/bangladesh.png" alt="" class="country-flag" />
                                        <span class="country-name">بنگلادش</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/canada.png" alt="" class="country-flag" />
                                        <span class="country-name">کانادا <small>(انگلیسی)</small></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/s-africa.png" alt="" class="country-flag" />
                                        <span class="country-name">سانترافریکائین</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/china.png" alt="" class="country-flag" />
                                        <span class="country-name">چین</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/french.png" alt="" class="country-flag" />
                                        <span class="country-name">فرانسه</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/germany.png" alt="" class="country-flag" />
                                        <span class="country-name">آلمان</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/iran.png" alt="" class="country-flag" />
                                        <span class="country-name">ایران</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/italy.png" alt="" class="country-flag" />
                                        <span class="country-name">ایتالیا</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/mexico.png" alt="" class="country-flag" />
                                        <span class="country-name">مکزیک</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/philipine.png" alt="" class="country-flag" />
                                        <span class="country-name">فیلیپین</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/portugal.png" alt="" class="country-flag" />
                                        <span class="country-name">پرتقال</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/s-africa.png" alt="" class="country-flag" />
                                        <span class="country-name">آفریقای جنوبی</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/spanish.png" alt="" class="country-flag" />
                                        <span class="country-name">اسپانیا</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/switzerland.png" alt="" class="country-flag" />
                                        <span class="country-name">سوئیس</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/uk.png" alt="" class="country-flag" />
                                        <span class="country-name">انگلستان</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/english.png" alt="" class="country-flag" />
                                        <span class="country-name">ایالات متحده آمریکا</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- .modal-content -->
            </div>
            <!-- .modla-dialog -->
        </div>
        <!-- .modal -->
    </body>
</html>