{% extends "../base/base.html" %}
{% block bodys %}

                        <div class="nk-content">
                            <div class="container-fluid">
                            <div class="nk-content-inner">
                                <div class="nk-content-body">
                                    <div class="nk-block-head nk-block-head-sm">
                                        <div class="nk-block-between">
                                            <div class="nk-block-head-content">

                                            </div>
                                            <!-- .nk-block-head-content -->
                                            <div class="nk-block-head-content">
                                                <div class="toggle-wrap nk-block-tools-toggle">
                                                    <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                                                    <div class="toggle-expand-content" data-content="pageMenu">
                                                        <ul class="nk-block-tools g-3">
                                                            <li>
                                                                <div class="dropdown">

                                                                </div>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- .nk-block-head-content -->
                                        </div>
                                        <!-- .nk-block-between -->
                                    </div>
                                    <!-- .nk-block-head -->
                                    <div class="nk-block">
                                        <div class="row g-gs">

                                            <!-- .col -->

                                            <!-- .col -->
                                            <div class="col-xxl-8">
                                                <div class="card card-bordered card-full">
                                                    <div class="card-inner">
                                                        <div class="card-title-group">
                                                            <div class="card-title">
                                                                <h6 class="title">
                                                                    <span class="me-2">اطلاعات</span>
                                                                    <a href="/Home" class="link d-none d-sm-inline">شماره تلفن</a>
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-inner p-0 border-top" id="details">
                                                        hello
                                                    </div>
                                                </div>


                                                <!-- .card -->
                                            </div>
                                            <!-- .col -->
                                            <div class="col-md-6 col-xxl-4">
                                                <div class="card card-bordered card-full">
                                                    <div class="card-inner">
                                                        <div class="card-title-group">
                                                            <div class="card-title">
                                                                <h6 class="title">
                                                                    <span class="me-2">آگهی ها</span>

                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="card-inner p-0 border-top">
                                                        <div class="nk-tb-list nk-tb-orders">
                                                            <div class="nk-tb-item nk-tb-head">
                                                                <div class="nk-tb-col tb-col-sm">
                                                                    <span>شماره</span>
                                                                </div>
                                                                <div class="nk-tb-col tb-col-md">
                                                                    <span>محله</span>
                                                                </div>
                                                                <div class="nk-tb-col tb-col-lg">
                                                                    <span>متراژ</span>
                                                                </div>
                                                                <div class="nk-tb-col"><span>قیمت کل</span></div>
                                                                <div class="nk-tb-col"><span>&nbsp;</span></div>
                                                            </div>
                                                            {%for i in Apartments%}
                                                            <div class="nk-tb-item">
                                                                <div class="nk-tb-col">
                                                                    <span class="tb-lead"><a class="badge badge-sm badge-dim bg-outline-info d-none d-md-inline-flex" onclick="change_details('{{i.id}}','{{i.token}}','{{i.price}}','{{i.meter}}','{{i.city}}','{{i.mahal_persian}}')">{{i.id}}</a></span>
                                                                </div>
                                                                <div class="nk-tb-col tb-col-sm">
                                                                    <div class="user-card">
                                                                        <div class="user-name">
                                                                            <span class="tb-lead">{{i.mahal_persian}}</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="nk-tb-col tb-col-md">
                                                                    <span class="tb-sub">{{i.meter}}</span>
                                                                </div>

                                                                <div class="nk-tb-col">
                                                                    <span class="tb-sub"><span class="badge bg-outline-secondary">{{i.price}}</span></span>
                                                                </div>

                                                                <div class="nk-tb-col nk-tb-col-action">
                                                                    <div class="dropdown">
                                                                        <a class="text-soft dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-xs">
                                                                            <ul class="link-list-plain">
                                                                                <li><a href="/Home/Trade_charts_multi_trade_on_favorits?P_ID={{i.id}}"><em class="icon ni ni-bar-chart-alt"></em><span>نمودار</span></a></li>
                                                                                <li><a href="/Home/Delet_F?P_ID={{i.id}}"><em class="icon ni ni-trash"></em><span>حذف</span></a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            {%endfor%}

                                                        </div>
                                                    </div>
                                                    <div class="card-inner ">
                                                            <nav>
                                                                <ul class="pagination pagination-lg">
                                                                    <li class="page-item">
                                                                        <a class="page-link" href="/?page={{page|add:1}}" aria-label="Prev"><span aria-hidden="true">صفحه بعد</span></a>
                                                                    </li>
                                                                    {%if page != 1%}
                                                                    <li class="page-item">
                                                                        <a class="page-link" href="/?page={{page|add:-1}}" aria-label="Next"><span aria-hidden="true">صفحه قبل</span></a>
                                                                    </li>
                                                                    {%endif%}
                                                                </ul>
                                                            </nav>
                                                    </div>
                                                </div>
                                                <!-- .card -->
                                            </div>
                                            <!-- .col -->

                                            <!-- .col -->
                                        </div>
                                        <!-- .row -->
                                    </div>
                                    <!-- .nk-block -->
                                </div>
                            </div>
                                <button value="x" onclick="change_details('str')">xcxc</button>
                        </div>

</div>

<script>

    function change_details(id,token,price,meter,city,mahal){
       var x = `<div class="form-group">
                    <label class="form-label" for="default-01">id</label>
                    <div class="form-control-wrap">
                        <input type="text" class="form-control" id="default-01" placeholder="`+token+`">
                    </div>
                </div>`;
        document.getElementById("details").innerHTML = x;
    }
</script>
{% endblock %}

{% block menu %}
                        <div class="nk-sidebar-content">
                            <div class="nk-sidebar-menu" data-simplebar>
                                <ul class="nk-menu">

                                    <!-- .nk-menu-item -->
                                    <li class="nk-menu-heading">
                                        <h6 class="overline-title text-primary-alt">
                                            منو
                                        </h6>
                                    </li>
                                    <!-- .nk-menu-heading -->
                                    <li class="nk-menu-item has-sub">
                                        <a href="/Home/Trade" class="nk-menu-link nk-menu-toggle">
                                            <span class="nk-menu-icon"><em class="icon ni ni-home"></em></span>
                                            <span class="nk-menu-text">فروش مسکونی</span>
                                        </a>
                                        <ul class="nk-menu-sub">
                                            <li class="nk-menu-item">
                                                <a href="/Home/Add_New_Trade" class="nk-menu-link"><span class="nk-menu-text">آپارتمان</span></a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a href="/Home/Add_New_Trade_F" class="nk-menu-link"><span class="nk-menu-text">ویلا</span></a>
                                            </li>
                                        </ul>
                                        <!-- .nk-menu-sub -->
                                    </li>
                                    <li class="nk-menu-item has-sub">
                                        <a href="/Home/Trade" class="nk-menu-link nk-menu-toggle">
                                            <span class="nk-menu-icon"><em class="icon ni ni-home-alt"></em></span>
                                            <span class="nk-menu-text">اجاره مسکونی</span>
                                        </a>
                                        <ul class="nk-menu-sub">
                                            <li class="nk-menu-item">
                                                <a href="/Home/Add_New_Trade" class="nk-menu-link"><span class="nk-menu-text">آپارتمان</span></a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a href="/Home/Add_New_Trade_F" class="nk-menu-link"><span class="nk-menu-text">ویلا</span></a>
                                            </li>
                                        </ul>
                                        <!-- .nk-menu-sub -->
                                    </li>

                                    <!-- .nk-menu-item -->

                                    <!-- .nk-menu-item -->

                                    <!-- .nk-menu-item -->

                                </ul>
                                <!-- .nk-menu -->
                            </div>
                            <!-- .nk-sidebar-menu -->
                        </div>

{% endblock %}
{% block notification %}

{% endblock %}